.App {
  text-align: left;
}
/* MENU BAR */
.menu-bar {
  background-color: #8daecc;
  height: 100%;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* justify-content: center; */
  font-size: calc(12px + 3vmin);
  font-weight: 400;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
}

#logo {
  font-size: calc(13px + 5vmin);
  font-weight: 700;
}

a:link,
a:visited {
  /* background-color: #f44336; */
  color: white;
  padding: 10px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #6e8ba7;
}

/* PUSH PAGES TO RIGHT FOR SIDE MENU */
.DrinkBuilder,
.loginout,
.home,
.cart {
  position: absolute;
  height: 100%;
  width: calc(100% - 370px);
  left: 270px;
  top: 100px;
  margin: 50px;
}

/* DRINK BUILDER / CREATE */
.grid-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-auto-rows: 100px; */
  background-color: #8daecc;
  flex: 1 1 auto;
  grid-auto-rows: 150px;
  /* counter-reset: grid; */
  padding: 20px;
  gap: 40px;
}
.grid-item {
  grid-column: span 2;
  background-color: rgba(255, 255, 255, 0.8);
  /* height: 100px;
    width: 100px; */
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Dealing with 1 or 2 orphan items */
.grid-item:last-child:nth-child(3n - 1) {
  grid-column-end: -2;
}
.grid-item:nth-last-child(2):nth-child(3n + 1) {
  grid-column-end: 4;
}
.grid-item:last-child:nth-child(3n - 2) {
  grid-column-end: 5;
}
